# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/

# Environment variables
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
