{% extends 'files/site.html' %}
{% block title %}
  View all Files
{% endblock %}
{% block body %}
  <ul>
    {% comment %} {% for file in files %}
      <li>{{ file.name }}</li>
    {% endfor %} {% endcomment %}
    {% for file in files %}
      <li>
        <a href="{% url 'file' file.id %}">{{ file.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form }}
  <br />
  <button>Upload</button>
</form>
